.venv/
venv/
__pycache__/
*.pyc
.env
.DS_Store
#temp_history/
#conversation_history/
.idea/
src/
*.zip
#uploaded_dir/
Python-3.9.7.tgz
Python-3.9.7/
osate2-2.14.0-vfinal-linux.gtk.x86_64/
instances/
proof_analysis/
git_actions/
CqMARS-eval/
CQAS_eval/
agreeProject_user_defined_file_names_collector.py
app.py
callbacks.py
constants.py
data_preperation_addl_comments_generation.py
INSPECTADog_utils.py
layout.py
pretty_print_conversation_messages_into_log.py
user_defined_requirements.py
*.csv
test_file.py
INSPECTA_Dog_Cli_Util.py
temp_history/*
!temp_history/conversation_history_20241204_132441.json
shared_history/*
!shared_history/conversation_history_20241114_095820.json
./_Agreefiles
./Integer_Toy.aadl
uploaded_dir/Integer_Toy.aadl
